[Unit]
Description=Literature to facts daily

[Service]
Type=simple 
ExecStart=/home/savchenk/.pyenv/shims/l2f-tools daily

Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
